{% extends "pytania/base.html" %}


{% block title %}
	{{ group_name.title|to_space }}
{% endblock %}

{% block logo_title %}
	{{ group_name.title|to_space }}
{% endblock %}

{% block content %}
	<div class="question_area">
		<div class="dots_left"></div>
		<div class="dots_right"></div>
		<p class="question_answer_text question_answer_text_options"> <a href="{% url 'pytania:generated_test' group_name 'random' 10 %}"> 10 pytań </a> </p> <br>
		<p class="question_answer_text question_answer_text_options"> <a href="{% url 'pytania:generated_test' group_name 'random' 20 %}"> 20 pytań </a> </p> <br>
		<p class="question_answer_text question_answer_text_options"> <a href="{% url 'pytania:generated_test' group_name 'random' 40 %}"> 40 pytań </a> </p>
	</div> 
{% endblock %}